[submodule "modules/database/tgorm"]
	path = modules/database/tgorm
	url = https://github.com/tigateam/tgorm.git
	branch = main
[submodule "modules/net/tghttp"]
	path = modules/net/tghttp
	url = https://github.com/tigateam/tghttp-go.git
	branch = main
[submodule "modules/i18n/tgi18n"]
	path = modules/i18n/tgi18n
	url = https://github.com/tigateam/tgi18n-go.git
	branch = main
