// 颜色
$accentColor = #25c2a0;
$textColor = #333333;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
$badgeTipColor = #42b983;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;
// 布局
// $navbarHeight = 3.6rem;
$navbarHeight = 3rem;
// $sidebarWidth = 20rem;
$sidebarWidth = 20rem;
// $contentWidth = 740px;
$contentWidth = 1600px;
// $homePageWidth = 960px;
$homePageWidth = 1080px;
// 响应式变化点
$MQNarrow = 959px;
// $MQMobile = 719px;
$MQMobile = 749px;
$MQMobileNarrow = 419px;